.form {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);

  &__group {
    width: 50rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__input {
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1.6rem 2.4rem;
    border-radius: 7px;
    background-color: rgba(#fff, 0.5);
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 100%;
    display: block;

    &--message {
      height: 20rem;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, 0.1);
      border-left: 2px solid $primary-color;
      border-right: 2px solid $primary-color;
    }

    &:focus:invalid {
      border-left: 2px solid #d2042d;
      border-right: 2px solid #d2042d;
    }

    &::-webkit-input-placeholder {
      color: #fff;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2.8rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

.btn--submit {
  position: absolute;
  margin-left: 16.5rem;
}
