//Logo
.logo__icon {
  height: 6.2rem;
  width: 6.2rem;
  stroke: $primary-color;
  margin-top: 0.6rem;
}

//Social icons

.s-icons__text {
  display: none;
}

.social-icons {
  &__list {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &__link {
    text-decoration: none;
    font-size: 2.4rem;
  }

  &__icon {
    color: #fff;
    background-color: $background-color;
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1.3rem rgba(#000, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;

    &--facebook:hover {
      color: #1877f2;
    }

    &--x:hover {
      color: #000;
    }

    &--instagram:hover {
      background: linear-gradient(
        45deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--linkedin:hover {
      color: #0a66c2;
    }
  }

  @include respond(phone) {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 7.4rem;
      position: fixed;
      top: 18rem;
      right: 5rem;
      z-index: 99999999999;
    }

    .s-icons__text {
      display: block;
      font-size: 3rem;
      text-decoration: none;
    }

    &__icon {
      padding: 2.4rem;
      font-size: 3.6rem;
    }
  }
}

//Btn icons
.btn-icon {
  height: 2.2rem;
  width: 2.2rem;
  stroke: #fff;
  margin-left: 0.6rem;
}

.btn-icon-dark {
  height: 2.2rem;
  width: 2.2rem;
  stroke: $background-color;
  margin-left: 0.6rem;
  padding-top: 0.5rem;
}

@include respond(phone) {
  .i-dark-grey {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #141416;
    width: 60%;
    max-width: 48rem;
    min-width: 32rem;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.3s all;
    transition-delay: 0.4s;
  }

  .i-dark-grey.visible {
    transition-delay: 0s;
  }

  .i-grey {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $cards-grey;
    width: 95%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.3s all;
    transition-delay: 0.2s;
  }

  .i-grey.visible {
    transition-delay: 0.2s;
  }

  .i-navy-blue {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $background-color;
    width: 95%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.3s all;
    transition-delay: 0s;
  }

  .i-navy-blue.visible {
    transition-delay: 0.4s;
  }
}

.visible {
  opacity: 1 !important;
  pointer-events: auto !important;
  visibility: visible !important;
  transform: translateX(0);
}
