.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  @include center-container;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 8.6rem;

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.section-about {
  @include section-padding;
}

.about {
  @include center-container;

  &__number {
    font-size: 7.4rem;
    font-weight: 700;
    color: $primary-color;
  }

  &__text {
    display: flex;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.6;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
    margin-left: 1.4rem;
  }
}

.section-work {
  @include section-padding;
}

.work {
  @include center-container;
  text-align: center;

  @include respond(tap-port) {
    max-width: 100rem;
  }

  @include respond(phone) {
    max-width: 50rem;
  }
}

.section-projects {
  @include section-padding;
}

.projects {
  @include center-container;

  @include respond(tap-port) {
    max-width: 95rem;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  align-items: center;
  justify-items: center;

  @include respond(tap-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.projects-grid {
  height: 50rem;
  width: 45rem;
}

.section-contact {
  @include section-padding;
}

.contact {
  @include center-container;

  @include respond(phone) {
    max-width: 85rem;
  }
}

.footer {
  background-color: $cards-grey;
  box-shadow: 0 0.2rem 1rem rgba(#000, 0.8);
  padding: 6.4rem;

  @include respond(phone) {
    padding: 2.4rem;
  }

  &__content {
    @include center-container;
  }
}
